header {
  background-color: $col-brand-1;
  height: $h-header;
  .header-wrap {
    height: 100%;
    padding: 0 5px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    .logo-brand {
      height: 60px;
    }
    .select-artist {
      font-size: 22px;
      padding: 0 10px;
    }
  }
}
