header {
  background-color: $col-brand-1;
  height: $h-header;
  .header-wrap {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .logo-brand {
      height: 60px;
    }
  }
}
